$mainColor:#f1f1f1; //main page backgorund color
$offWhite:#ccc9c9; //date created
/**
* header
* article bottom bar
**/
$blue:#353148;
$lightenBluen:lighten($blue, 2%);

//links
$orange:#ffa500;
